{% extends "layout.html" %}

{% block body %}
<!-- Tähän tietoja pelistä, jota ollaan arvioimassa -->
<h1>{{ game.name }} ( {{ game.year }} )</h1>

<form method="POST" action="{{ url_for('reviews_create', game_id=game.id) }}">

    <div class="form-group">
        {{ form.text.label(for="text") }}
        {{ form.text(class="form-control") }}
    </div>
    <div class="container text-danger">
        <ul class="list-inline">
            {% for error in form.text.errors %}
            <li>{{ error }}</li>
            {% endfor %}        
        </ul>
    </div>
    
    <div>
        {{ form.points.label(for="points")}}
    </div>
    {% for point in form.points %}
        <div class="form-check form-check-inline">
        {{ point(class="form-check-input") }}
        {{ point.label(class="form-check-label") }}
        </div>
    {% endfor %}    
    
    <div class="container text-danger">
        <ul class="list-inline">
            {% for error in form.points.errors %}
            <li>{{ error }}</li>
            {% endfor %}        
        </ul>
    </div>
    
    
    <button type="input" class="btn btn-info">Tallenna arvostelu</button>
</form>

{% endblock %}
