{% extends "layout.html" %}
{% block body %}

<form method="POST" action="{{ url_for('auth_register') }}">

    <div class="form-group">
        {{ form.name.label(for="name") }}
        {{ form.name(class="form-control", autofocus=True) }}
    </div>
    <div class="container text-danger">
        <ul class="list-inline">
            {% for error in form.name.errors %}
            <li>{{ error }}</li>
            {% endfor %}        
        </ul>
    </div>
    
    <div class="form-group">
        {{ form.username.label(for="username") }}
        {{ form.username(class="form-control") }}
    </div>
    <div class="container text-danger">
        <ul class="list-inline">

            {% if non_unique_error %}
                <li class="list-inline-item">{{ non_unique_error }}</li>
            {% endif %}     

            {% for error in form.username.errors %}
            <li>{{ error }}</li>
            {% endfor %}        
        </ul>
    </div>

    <div class="form-group">
        {{ form.description.label(for="description") }}
        {{ form.description(class="form-control") }}
    </div>
    <div class="container text-danger">
        <ul class="list-inline">
            {% for error in form.description.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="form-group">
        {{ form.password.label(for="password") }}
        {{ form.password(class="form-control") }}
    </div>
    <div class="container text-danger">
        <ul class="list-inline">
            {% for error in form.name.errors %}
            <li>{{ error }}</li>
            {% endfor %}        
        </ul>
    </div>
    

    <button type="submit" class="btn btn-info">Rekisteröidy</button>
</form>

{% endblock %}
