{% extends "layout.html" %}
{% block body %}

<div class="container">

<h1>{{ user.username }}</h1>

{% if current_user.is_authenticated %}
{% if form  %}
<form method="POST" action="{{ url_for('users_modify')}}">
    <div class="form-group">
        {{ form.description(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary">Tallenna</button>
</form>
{% else %}
<p style="white-space: pre-wrap; word-wrap: break-word;">{{user.description}}</p>
<a href="{{ url_for('users_modify') }}" class="btn btn-secondary">Muokkaa kuvausta</a>
{% endif %}
{% else  %}
<p style="white-space: pre-wrap; word-wrap: break-word;">{{user.description}}</p>
{% endif%}
</div>

<div class="container">
<div class="row">


<div class="col">
{% if reviews %}

    <h2>Tuoreimmat arviot</h2>
    <ul>
    {% for review in reviews %}
        <li>
          {{ review.date_created  }}
          <div class="container" style="white-space: pre-wrap;">{{review.text}}</div>
        </li>
    {% endfor %}
    </ul>

{% else %}
Käyttäjä ei ole arvioita

{% endif %}
</div>


<div class="col">
    {% if tags %}
    <h2>Tagit</h2>


    
    <div class="list-group">
    {% for tag in tags %}
        
        <a class="list-group-item" href="{{ url_for('tags_view', tag_id = tag.id) }}">
            {{tag.name}}
        </a>
        
    {% endfor %}
    </div>

    {% else %}
Käyttäjällä ei ole tageja
    {% endif%}
</div>

</div>
</div>



{% endblock %}