{% extends "layout.html" %}

{% block body %}

<h1>{{ title }}</h1>

<table class="table table-responsive table-striped">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Peli</th>
        <th scope="col">Kehittäjä</th>
        <th scope="col">Julkaisuvuosi</th>
        <th scope="col">Arvioiden lukumäärä</th>
        <th scope="col">Arvioiden keskiarvo</th>
    </tr>
    </thead>
    <tbody>
    
    {% for game_info in games_info %}
    <tr>
        <td><a style="white-space: pre-wrap; word-wrap: break-word" href="{{ url_for('games_view', game_id=game_info['id']) }}">{{ game_info['name'] }}</a></td>
        <td style="word-wrap: break-word;">{{ game_info['developer'] }}</td>
        <td>{{ game_info['year'] }}</td>
        <td>{{ game_info['number_of_reviews'] }}</td>
        <td>{{ game_info['average_of_reviews'] }}</td>
    </tr>
    {% endfor %}
    </tbody>

</table>


{% endblock %}
