{% extends "layout.html" %}

{% block body %}
<h1>Lisää uusi peli</h1>
<form method="POST" action="{{ url_for('games_create') }}">
    <table>
        <tr>
            <td>{{ form.name.label }} </td>
            <td>{{ form.name }} </td>
        </tr>
        <tr>
            <td>{{ form.developer.label }}</td>
            <td>{{ form.developer }}</td>
        </tr>
        <tr>
            <td>{{ form.year.label }}</td>
            <td>{{ form.year }}</td>
        </tr>
        <tr>
            <td>{{ form.description.label }}</td>
            <td>{{ form.description }}</td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Lisää peli!" />
            </td>
        </tr>
    </table>
</form>


{% endblock %}
