{% extends "layout.html" %} {% block body %}
<h1>Lisää uusi peli</h1>
<form method="POST" action="{{ url_for('games_create') }}">

    <div class="form-group">
        {{ game_form.name.label(for="name") }} {{ game_form.name(class="form-control", autofocus=True) }}
    </div>
    <div class="container text-danger">
        <ul class="list-inline">
            {% for error in game_form.name.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="form-group">
        {{ game_form.developer.label(for="developer") }} {{ game_form.developer(class="form-control") }}
    </div>
    <div class="container text-danger">
        <ul class="list-inline">
            {% for error in game_form.developer.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="form-group">
        {{ game_form.year.label(for="year") }} {{ game_form.year(class="form-control") }}
    </div>
    <div class="container text-danger">
        <ul class="list-inline">
            {% for error in game_form.year.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="form-group">
        {{ game_form.description.label(for="description") }} {{ game_form.description(class="form-control", rows="7") }}
    </div>
    <div class="container text-danger">
        <ul class="list-inline">
            {% for error in game_form.description.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="container" id ="{{ genre_form.id }}">
        {% for genre_id in genre_form.genre_ids %}
        <div class="form-check">
            {{ genre_id(class="form-check-input") }}
            {{ genre_id.label }}
        </div>
        {% endfor %}
    </div>
    <div class="container text-danger">
        <ul class="list-inline">
            {% for error in genre_form.genre_ids.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>

    <button type="submit" class="btn btn-info">Lisää peli!</button>
</form>


{% endblock %}