{% extends "layout.html" %}
{% block body %}
<h1>{{ game.name }}</h1> 
{% if current_user.is_authenticated %}
<a href="{{ url_for('games_modify', game_id=game.id) }}">Muokkaa pelin tietoja </a></br>
{% if current_user.has_reviewed(game.id)%}
Olet jo arvioinut
{% else %}
<a href="{{ url_for('reviews_create', game_id=game.id) }}">Arvioi peli</a>
{% endif %}
{% endif %}
<ul>
    <li>Kehittäjä: {{ game.developer }}</li>
    <li>Julkaisuvuosi: {{ game.year }}</li>
</ul>
<p>{{ game.description }}</p>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Arvio</th>
            <th>Pistemäärä /10</th>
            <th>Kirjoittaja</th>
            <th>Reagointi</th>
        </tr>
    </thead>
    <tbody>
    {% for review in reviews %}
    <tr>
        <td>{{ review.text }}</td>
        <td>{{ review.points }}</td>
        <td>{{ review.account.username }}</td>
        <td>


        {% if current_user.is_authenticated %}
            {% if current_user.has_reacted(review.id) %}
            Olet jo reagoinut
            {% else %}
            
                <form class="form-inline" method="POST" action="{{ url_for('reactions_create', review_id=review.id) }}">
                    {% for subfield in form.positivity %}
                    
                    <div class="form-group">
                        <!--  Alla oleva värin päättäminen on ehkä aika hack, sillä se perustuu täysin ReactionFormin rakenteeseen. 
                              Jos ko. luokkaa muutetaan, joutuu löytämään uuden ratkaisun...   -->
                        <button type="submit" class="btn btn-{{["danger", "success"][subfield.data] }}" value="{{ subfield.data }}" name="{{ subfield.name }}">
                            {{ subfield.label.text }}
                        </button>
                    </div>
                    
                    {% endfor %}
                </form>
            
            {% endif %}
        {% endif %}


        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
