{% extends "layout.html" %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Käyttäjän {{ tag_owner.name }} tagit</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">

            <ul class="list-group">
                {% for tag in tags_info%}
                
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a href="{{ url_for('tag_games', tag_id = tag.id) }}">{{ tag.name }}</a>
                    <span class="badge badge-primary badge-pill">{{ tag.number_of_games }}</span>


                </li>


   {% if current_user.is_authenticated and (current_user.id == tag_owner.id or current_user.has_role("ADMIN")) %}
        <form method="POST" action = "{{ url_for('tags_delete', tag_id = tag.id) }}">
                <button type="submit" class="btn btn-danger">X</button>
        </form>
    {% endif %}
                


                {% endfor %}
            </ul>
        </div>
    </div>

   {% if current_user.is_authenticated and (current_user.id == tag_owner.id or current_user.has_role("ADMIN")) %}
    <div class="row">
        <div class="col">
            {{ error }}
            <form method="POST" action="{{ url_for('tags_create', user_id=current_user.id) }}">
                <div class="form-group">
                    {{ form.name.label(for="name") }} {{ form.name(class="form-control") }}
                </div>
                <button type="submit" class="btn btn-primary">Lisää</button>
                {% if form.name.errors %}
                <ul>
                    {% for error in form.name.errors %}
                    <li>
                        {{ error }}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </form>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}