{% extends "layout.html" %} {% block body %}

<h1>Hae pelejä</h1>

<form method="POST" action="{{ url_for('search')}}">
    <div class="form-group">
        {{ form.name.label }} {{ form.name(class="form-control") }}
    </div>
</div>
<div class="container text-danger">
    <ul class="list-inline">
        {% for error in form.name.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
</div>
    <div class="form-group">
        {{ form.min_year.label }} {{ form.min_year(class="form-control") }}
    </div>
    <div class="container text-danger">
        <ul class="list-inline">
            {% for error in form.min_year.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class=form-group>
        {{ form.max_year.label }} {{ form.max_year(class="form-control") }}
    </div>
    <div class="container text-danger">
        <ul class="list-inline">
            {% for error in form.max_year.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="form-group">
        {{ form.developer.label }} {{ form.developer(class="form-control") }}
    </div>

    <div class="container text-danger">
        <ul class="list-inline">
            {% for error in form.developer.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="container" id ="{{ form.genres.id }}">
            <h4>{{ form.genres.label }}</h4>
               {% for genre in form.genres %}
               <div class="form-check">
                   {{ genre(class="form-check-input") }}
                   {{ genre.label }}
               </div>
               {% endfor %}
    </div>
    <div class="container text-danger">
        <ul class="list-inline">
            {% for error in form.genres.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="form-group">
        {{ form.min_average.label }} {{ form.min_average(class="form-control") }}
    </div>
    <div class="container text-danger">
        <ul class="list-inline">
            {% for error in form.min_average.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="form-group">
        {{ form.max_average.label }} {{form.max_average(class="form-control") }}
    </div>

    <div class="container text-danger">
        <ul class="list-inline">
            {% for error in form.max_average.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="form-group">
        {{ form.min_count.label }} {{ form.min_count(class="form-control") }}
    </div>
    <div class="container text-danger">
        <ul class="list-inline">
            {% for error in form.min_count.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="form-group">
        {{ form.max_count.label }} {{form.max_count(class="form-control") }}
    </div>
    <div class="container text-danger">
        <ul class="list-inline">
            {% for error in form.max_count.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>

    
    {% if form.tags.data %}
    <div class="form-group">
        {{ form.tags.label }} {{ form.tags(class="form-control") }}
    </div>
    {% endif %}

    <button type="submit" class="btn btn-primary">Hae</button>
</form>

{% if games_info %}
<h2>Hakutuloksia: {{ games_info.length }}</h2>

<table class="table table-responsive table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Peli</th>
            <th scope="col">Kehittäjä</th>
            <th scope="col">Julkaisuvuosi</th>
            <th scope="col">Arvioiden lukumäärä</th>
            <th scope="col">Arvioiden keskiarvo</th>
        </tr>
    </thead>
    <tbody>
        {% for game_info in games_info %}
        <tr>
            <td>
                <a href="{{ url_for('games_view', game_id = game_info['id']) }}" style="white-space: pre-wrap; word-wrap: break-word;">
                    {{ game_info["name"] }}
                </a>
            </td>
            <td>
                <span style="white-space: pre-wrap; word-wrap: break-word;">{{ game_info["developer"] }}</span>
            </td>
            <td>
                {{ game_info["year"] }}
            </td>
            <td>
                {{ game_info["number_of_reviews"] }}
            </td>
            <td>
                {{ game_info["average_of_reviews"] }}
            </td>
        </tr>
        {% endfor %}
    </tbody>


</table>

{% endif %}


{% endblock %}